:root {
  --first-background-color: #f5f4fa;
  --second-background-color: #2f303a;
  --nav-text-color: #212121;
  --header-contact-color: #757575;
  --accent-color: #2196f3;
  --first-btn-color: #ffffff;
  --second-btn-color: #212121;
  --section-title-color: #212121;
  --item-title-color: #212121;
  --item-text-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------HEADER------------ */

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-studio-color {
  color: #000000;
}

.nav-link {
  color: var(--nav-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-contact {
  color: var(--header-contact-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* -----------MAIN------------- */

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--first-btn-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.section {
  letter-spacing: 0.03em;
}

.benefit-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--item-title-color);
}

.benefit-item-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--item-text-color);
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--section-title-color);
}

.team {
  background-color: var(--first-background-color);
}

.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--item-title-color);
}

.team-item-profession {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--item-text-color);
}

/* ----------FOOTER------------ */

.footer {
  background: var(--second-background-color);
}

.footer-studio-color {
  color: #ffffff;
}

.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-address-link {
  color: #ffffff;
}

.footer-email-tel-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-link:hover,
.footer-address-link:focus,
.footer-email-tel-link:hover,
.footer-email-tel-link:focus {
  color: var(--accent-color);
}

/* --------PORTFOLIO---------- */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--second-btn-color);
  background-color: var(--first-background-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--first-btn-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--item-title-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--item-text-color);
}
